@page "/tickets"

@using MudBlazor;
@using TicketSystem.Models;
@using TicketSystem.ViewModels;
<AuthorizeView Context="authContext">
	<Authorized>
		<h3>All Tickets</h3>
		@if (tickets.Count <= 0)
		{
			<p>No tickets found.</p>
		}
		else {
			<MudDataGrid T="TicketView" Items="tickets" EditMode="DataGridEditMode.Cell" ReadOnly=false DragDropColumnReordering=true  Dense ColumnResizeMode="ResizeMode.Container">
			<Columns>
				<PropertyColumn Property="x=>x.TicketID" Editable=false Style="width:fit-content"></PropertyColumn>
				<PropertyColumn Property="x=>x.Subject"></PropertyColumn>
				<PropertyColumn Property="x=>x.Description"></PropertyColumn>
				<PropertyColumn Property="x=>x.Status.StatusName">
					<EditTemplate>
						<MudSelect @bind-Value="@context.Item.StatusID" Variant="Variant.Outlined" Margin="Margin.Normal">
							@foreach (var status in statuses)
							{
								<MudSelectItem Value="@status.StatusID">@status.StatusName</MudSelectItem>
							}
						</MudSelect>
					</EditTemplate>

				</PropertyColumn>
				<PropertyColumn Property="x=>x.Category.CategoryName" Editable>
					<EditTemplate>
						<MudSelect @bind-Value="context.Item.CategoryID" Variant="Variant.Outlined">
							@foreach (TicketCategory category in categories)
							{
								<MudSelectItem Value="category.Id">@category.CategoryName</MudSelectItem>
							}
						</MudSelect>
					</EditTemplate>
				</PropertyColumn>
				<TemplateColumn Sortable=true CellClass="d-flex justify-end" Context="context">
					<EditTemplate>
						<MudButton 
							StartIcon="@Icons.Material.Filled.Save"
							OnClick="()=>Save(context.Item)"
							Size="@Size.Small" 
							Variant="@Variant.Filled" 
							Color="@Color.Primary"
							Disabled=false
						>Save</MudButton>
					</EditTemplate>
					<CellTemplate></CellTemplate>
				</TemplateColumn>

			</Columns>
		</MudDataGrid>
		}
	</Authorized>
	<NotAuthorized>
		<h3>You are not authorized</h3>
	</NotAuthorized>
</AuthorizeView>
