@page "/tickets"

@using MudBlazor;
@using TicketSystem.Models;
<h3>All Tickets</h3>
@if (tickets.Count <= 0)
{
	<p>No tickets found.</p>
}
else {
<MudDataGrid Items="tickets" EditMode="DataGridEditMode.Cell" ReadOnly=false>
	<Columns>
		<PropertyColumn Property="x=>x.TicketID" Editable=false></PropertyColumn>
		<PropertyColumn Property="x=>x.Subject"></PropertyColumn>
		<PropertyColumn Property="x=>x.Description"></PropertyColumn>
		<PropertyColumn Property="x=>x.Status.StatusName">

		</PropertyColumn>
		<PropertyColumn Property="x=>x.CategoryNavigation.CategoryName">
			<EditTemplate>
				<MudSelect @bind-Value="context.Item.Category" Required RequiredError="Please select a category!">
					@foreach (TicketCategory category in categories)
					{
						<MudSelectItem Value="context.Item.Category">@category.CategoryName</MudSelectItem>
					}
				</MudSelect>
			</EditTemplate>
		</PropertyColumn>
		<PropertyColumn Property="x=>x.Category.ToString()"></PropertyColumn>
		<PropertyColumn Property="x=>x.Customer.NormalizedEmail"></PropertyColumn>
		<PropertyColumn Property="x=>x.AssignedAgent.NormalizedEmail"></PropertyColumn>
		<TemplateColumn CellClass="d-flex justify-end">
            <CellTemplate>
                <MudButton
				property="x=>x"
				Href="@($"/ticket/{context.Item}")"				
				Size="@Size.Small" 
				Variant="@Variant.Filled" 
				Color="@Color.Primary">Go To Ticket</MudButton>
            </CellTemplate>
        </TemplateColumn>
	</Columns>
</MudDataGrid>
<p>Selected Id: </p>
}


