@page "/tickets"

@using MudBlazor;
@using TicketSystem.Models;
@using TicketSystem.ViewModels;
<AuthorizeView Context="authContext">
	<Authorized>
		<h3>All Tickets</h3>
		
		<MudForm @ref=ticketForm>
			<MudDataGrid 
					@ref="dataGrid"
					T="TicketView" 
					ServerData="LoadTickets"
					EditMode="DataGridEditMode.Cell" 
					ReadOnly=false 
					DragDropColumnReordering=true  
					ColumnResizeMode="ResizeMode.Container"
					Validator="ticketForm"
					Bordered=true
					CommittedItemChanges="@Save"
					Filterable="false"
			>
				<Columns>
					<MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
									AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
					<PropertyColumn Property="x=>x.TicketID" Editable=false ></PropertyColumn>
					<PropertyColumn Property="x=>x.Subject" ></PropertyColumn>
					<PropertyColumn Property="x=>x.Description"></PropertyColumn>
					<PropertyColumn Property="x=>x.Status.StatusName">
						<EditTemplate >
							<MudSelect @bind-Value="@context.Item.StatusID" Variant="Variant.Outlined" Margin="Margin.Normal" >
								@foreach (var status in statuses)
								{
									<MudSelectItem Value="@status.StatusID">@status.StatusName</MudSelectItem>
								}
							</MudSelect>
						</EditTemplate>

					</PropertyColumn>
					<PropertyColumn Property="x=>x.Category.CategoryName" Editable>
						<EditTemplate>
							<MudSelect @bind-Value="context.Item.CategoryID" Variant="Variant.Outlined">
								@foreach (TicketCategory category in categories)
								{
									<MudSelectItem Value="category.Id">@category.CategoryName</MudSelectItem>
								}
							</MudSelect>
						</EditTemplate>
					</PropertyColumn>

				</Columns>
				<PagerContent>
					<MudDataGridPager T="TicketView" />
				</PagerContent>
			</MudDataGrid>
		</MudForm>
		
		<footer>
			
			@if (errors.Count > 0)
			{
				<blockquote>
					Something went wrong
					<ul>
						@foreach (string detail in errors)
						{
							<li>@detail</li>
						}
					</ul>
				</blockquote>
			}
		</footer>
	</Authorized>

	<NotAuthorized>
		<h3>You are not authorized</h3>
	</NotAuthorized>
</AuthorizeView>

