@page "/tickets"

@using MudBlazor;
@using TicketSystem.Models;
@using TicketSystem.ViewModels;
<h3>All Tickets</h3>
@if (tickets.Count <= 0)
{
	<p>No tickets found.</p>
}
else {
<MudDataGrid T="TicketView" Items="tickets" EditMode="DataGridEditMode.Cell" ReadOnly=false>
	<Columns>
		<PropertyColumn Property="x=>x.TicketID" Editable=false></PropertyColumn>
		<PropertyColumn Property="x=>x.Subject"></PropertyColumn>
		<PropertyColumn Property="x=>x.Description"></PropertyColumn>
		<PropertyColumn Property="x=>x.Status.StatusName">
			<EditTemplate>
				<MudSelect @bind-Value="@context.Item.StatusID" >
					@foreach (var status in statuses)
					{
						<MudSelectItem Value="@status.StatusID">@status.StatusName</MudSelectItem>
					}
				</MudSelect>
			</EditTemplate>

		</PropertyColumn>
		<PropertyColumn Property="x=>x.Category.CategoryName" Editable>
			<EditTemplate>
				<MudSelect @bind-Value="context.Item.CategoryID" >
					@foreach (TicketCategory category in categories)
					{
						<MudSelectItem Value="category.Id">@category.CategoryName</MudSelectItem>
					}
				</MudSelect>
			</EditTemplate>
		</PropertyColumn>
		<TemplateColumn Sortable=true CellClass="d-flex justify-end" Context="context">
			<EditTemplate>
				<MudButton 
					StartIcon="@Icons.Material.Filled.Save"
					OnClick="()=>Save(context.Item)"
					Size="@Size.Small" 
					Variant="@Variant.Filled" 
					Color="@Color.Primary"
					Disabled=false
				>Save</MudButton>
			</EditTemplate>
			<CellTemplate></CellTemplate>
		</TemplateColumn>

	</Columns>
</MudDataGrid>

	<p>@if (test != null)
		{
			<span>@test.Category</span>
		}
		else
		{
			<span>Test is null</span>
		}
	</p>
}


